
/* NOTE: FONTS BELOW */
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('raleway-extrabold-webfont.woff2') format('woff2'),
         url('raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight';
    src: url('raleway-extralight-webfont.woff2') format('woff2'),
         url('raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayheavy';
    src: url('raleway-heavy-webfont.woff2') format('woff2'),
         url('raleway-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.woff2') format('woff2'),
         url('raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium-webfont.woff2') format('woff2'),
         url('raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont.woff2') format('woff2'),
         url('raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin-webfont.woff2') format('woff2'),
         url('raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway_dots_regular';
    src: url('ralewaydots-regular-webfont.woff2') format('woff2'),
         url('ralewaydots-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
  background-color: #FFFFFF;
  font-family: 'raleway', Arial, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  font-family: 'raleway', Arial, sans-serif;
  /* NOTE: the above makes the header buttons a link /w out the underline */
}

a:hover {
  color: #EF6248;
  /* NOTE: The above code makes it so when the curser is over "click to view" it will light up a different color */
}

a:link {
  text-decoration: none;
}


/* NOTE: Navigation */

.revel-icon {
  margin-top: 10px;
  bottom: 1px;
  margin-left: 30px;
}

.nav-1 {
  padding-bottom: 5px;
  width: 100%;
  border: solid thin #F0F0F0;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px -6px black;
   -moz-box-shadow: 0 5px 10px -6px black;
        box-shadow: 0 5px 10px -6px black;
  z-index: 2;
  position: sticky;
  top: 0;
  /* NOTE: this keeps the header fixed when scrolling. */
  /* NOTE: The above code outlines shadow of header;location of text */
}

.nav-1 a {
  color: grey;
}
.list-inline-nav-1 {
  float: right;
  margin-right: 30px;
}
.nav-1-li {
  list-style-type: none;
  display: inline;
  margin-left: 30px;
  color: grey;
}
.nav-1 a:hover{
  color: #EF6248;
}

/* NOTE: BELOW IS THE SECOND NAVIGATION BAR */

.nav-2 {
  padding-bottom: 50px;
  width: 100%;
  border-color: grey;
  border-width: 0.25px;
  background-color: grey;
  border-style: solid;
  /* NOTE: this keeps the header fixed when scrolling. */
  /* NOTE: The above code outlines shadow of header;location of text */
}
.list-inline-nav-2 {
  float: right;
  margin-right: 5%;
}
.nav-2-li {
  margin-left: 35px;
  list-style-type: none;
  display: inline;
  color: white;
}
.nav-2 a {
  list-style-type: none;
  display: inline;
  color: white;
}

/* NOTE: BELOW IS THE MAIN CONTENT */

.title {
  color: #EF6248;
  margin-left: 100px;
  font-family: 'raleway', Arial, sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.para {
  color: grey;
  margin-left: 100px;
  padding-bottom: 100px;
  font-family: 'raleway', Arial, sans-serif;
}

/* NOTE: BELOW IS FOOTER */

footer {
  border-top: solid lightgrey 0.5px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 150px;
 }

.footer {
  padding-left: 260px;
  padding-top: 30px;
}
.footer-links {
   color: grey;
 }
.footer-links {
   display:grid;
 }
.footer-links:hover {
   color: #EF6248;
 }

.footer-title {
  color: grey;
  font-family: 'raleway', Arial, sans-serif;
  font-size: 20px;
}

.col-1 {
  display: inline-table;
  padding-left: 0px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 30px;
}

.col-2 {
  display: inline-table;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 30px;
}

.col-3 {
  display: inline-table;
  padding-left: 100px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 30px;
}

.col-4 {
  display: inline-table;
  padding-left: 100px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 30px;
}

.footer2 {
  display: inline;
}

.footer-logo {
  margin-left: 15%;
}

.copyright {
  margin-left: 25%;
  position: relative;
  bottom: 70px;
}

.terms-policy {
  color: grey;
  left: 70%;
  bottom: 107px;
  padding-left: 10px;
  position: relative;
  display: inline;
}

.social-icons {
  float: right;
  position: relative;
  display: inline;
  margin-right: 200px;
  bottom: 144px;
}
