@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('raleway-extrabold-webfont.woff2') format('woff2'),
         url('raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight';
    src: url('raleway-extralight-webfont.woff2') format('woff2'),
         url('raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayheavy';
    src: url('raleway-heavy-webfont.woff2') format('woff2'),
         url('raleway-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.woff2') format('woff2'),
         url('raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium-webfont.woff2') format('woff2'),
         url('raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont.woff2') format('woff2'),
         url('raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin-webfont.woff2') format('woff2'),
         url('raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway_dots_regular';
    src: url('ralewaydots-regular-webfont.woff2') format('woff2'),
         url('ralewaydots-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  font-family: "raleway";
}
.returnHome {
  float: right;
  position: fixed;
  left: 95%;
  top: 20px;
}
.cover img {
  position: fixed;
  background-size: cover;
}

.info {
  width: 80%;
  margin-top: 20px;
  margin-left: 150px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 5px 10px -6px black;
   -moz-box-shadow: 0 5px 10px -6px black;
        box-shadow: 0 5px 10px -6px black;
  border: solid lightgrey 1px;
}
.info h1 {
  margin-left: 20px;
  font-weight: 550;
  color: #EF6248;
  font-size: 20px;
}
.info p {
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
  color: grey;
}
.info:hover {
  transform: scale(1.05);
}

.eventDetails {
  text-align: center;
}
.box-3 {
  width: 23%;
  -webkit-box-shadow: 0 5px 10px -6px black;
   -moz-box-shadow: 0 5px 10px -6px black;
        box-shadow: 0 5px 10px -6px black;
  margin-top: 25px;
  margin-left: 30px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  text-align: center;
  border: solid lightgrey 1px;
}
.box-3:hover {
    transform: scale(1.05);
}
.box-3 h1 {
  font-weight: 550;
  color: #EF6248;
  font-size: 20px;
}
.box-3 p {
  font-size: 12px;
  color: grey;
  font-weight: normal;
  text-align: center;
}

.services h1 {
  margin-left: 30px;
  margin-top: 50px;
  color: grey;
  font-size: 25px;
  font-weight: normal;
}

.services {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: auto;
  display: cover;
  margin-right: 5%;
  padding-top: 25px;
}
.services h1 {
  margin-left: 40px;
}


.card {
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: center;
  display: inline-table;
}
.card:hover {
  transform: scale(1.1);
}
