@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('raleway-extrabold-webfont.woff2') format('woff2'),
         url('raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight';
    src: url('raleway-extralight-webfont.woff2') format('woff2'),
         url('raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayheavy';
    src: url('raleway-heavy-webfont.woff2') format('woff2'),
         url('raleway-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.woff2') format('woff2'),
         url('raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium-webfont.woff2') format('woff2'),
         url('raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont.woff2') format('woff2'),
         url('raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin-webfont.woff2') format('woff2'),
         url('raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway_dots_regular';
    src: url('ralewaydots-regular-webfont.woff2') format('woff2'),
         url('ralewaydots-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    letter-spacing: 1.5px;
    font-family: 'raleway', Arial, sans-serif;
    position: fixed;
}
a {
  text-decoration: none;
  font-family: 'raleway', Arial, sans-serif;
  color: grey;
  /* NOTE: the above makes the header buttons a link /w out the underline */
}
a:hover {
  color: #EF6248;
  /* NOTE: The above code makes it so when the curser is over "click to view" it will light up a different color */
}
a:link {
  text-decoration: none;
}

/* NOTE: Navigation */

.revel-icon {
  margin-top: 10px;
  bottom: 1px;
  margin-left: 30px;
}

.nav-1 {
  padding-bottom: 5px;
  width: 100%;
  border: solid thin #F0F0F0;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px -6px black;
   -moz-box-shadow: 0 5px 10px -6px black;
        box-shadow: 0 5px 10px -6px black;
  z-index: 2;
  position: sticky;
  top: 0;
  /* NOTE: this keeps the header fixed when scrolling. */
  /* NOTE: The above code outlines shadow of header;location of text */
}
.nav-1 a {
  color: grey;
}
.list-inline-nav-1 {
  float: right;
  margin-right: 30px;
}
.nav-1-li {
  list-style-type: none;
  display: inline;
  margin-left: 30px;
  color: grey;
}
.nav-1 a:hover{
  color: #EF6248;
}

/* NOTE: BELOW IS THE SECOND NAVIGATION BAR */

.nav-2 {
  padding-bottom: 50px;
  width: 100%;
  border-color: grey;
  border-width: 0.25px;
  background-color: grey;
  border-style: solid;
  /* NOTE: this keeps the header fixed when scrolling. */
  /* NOTE: The above code outlines shadow of header;location of text */
}
.list-inline-nav-2 {
  float: right;
  margin-right: 22%;
}
.nav-2-li {
  margin-left: 35px;
  list-style-type: none;
  display: inline;
  color: white;
}
.nav-2 a {
  list-style-type: none;
  display: inline;
  color: white;
}
/* NOTE: Main Content */

h3 {
  color: #EF6248;
  font-family: 'raleway', Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 60px;
}
.para1 {
  color: grey;
  font-family: 'raleway', Arial, sans-serif;
  margin-left: 30px;
  padding-bottom: 30px;
}
.quote {
  color: grey;
  font-size: 15px;
  font-family: 'raleway', Arial, sans-serif;
  font-weight: normal;
}
.info {
  color: #EF6248;
  margin-top: 20px;
  font-family: 'raleway', Arial, sans-serif;
  font-weight: 550;
}

.columns {
  padding-top: 50px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.column1 {
  box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.2);
  max-height: 200px;
  max-width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  border: solid thin #F0F0F0;
  text-align: center;
  display: inline-table;
}
.column1:hover {
  transform: scale(1.1);
  /* NOTE: The above enlarges element when hovered */
}

.column2 {
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 160px;
  max-width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: center;
  display: inline-table;
  border: solid thin #F0F0F0;
}
.column2:hover {
  transform: scale(1.1);
  /* NOTE: The above enlarges element when hovered */
}

.column3 {
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 160px;
  max-width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: center;
  display: inline-table;
  border: solid thin #F0F0F0;
}
.column3:hover {
   transform: scale(1.1);
   /* NOTE: The above enlarges element when hovered */
}

.return-home {
  margin-top: 30px;
  margin-left: 30px;
}
